:root {
    --RED: #D34848;
    --YELLOW: #FFB33F;
    --AQUA: #1FE1E9;
}

/* Navigation */

.navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
}

.navbar .nav-container{
    display: flex;
    justify-content: space-between;
    padding: 80px 80px 0 80px;
}

.navbar .navDropdown .navTitle {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 48px;
}

.navbar .navDropdown .navTitle:hover {
    cursor: pointer;
}

.navbar .navDropdown .navTitle .navTitle-text {
    font: normal normal normal 48px/57px Helvetica Neue;
    margin-left: 38px;
    letter-spacing: 4.8px;
}

.navbar .navDropdown .navDropdownItemList {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
}

.navbar .navDropdown .navDropdownItemList .navDropdownItem{
    font: normal normal bold 47px/57px Helvetica Neue;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 47px;
    letter-spacing: 4.7px;
}

.navbar .navDropdown .navDropdownItemList .navDropdownItem:hover{
    cursor: pointer;
}

/* ======================= LANDING PAGE  ======================= */
/* Hero section */

.section-hero {
    height: 1080px;
}

.section-hero .imageCarousel {
    position: absolute;
    z-index: -999;
    width: 100%;
    height: 1080px;
    overflow: hidden;
}

.section-hero .imageCarousel .bgImage{
    width: 1920px;
    object-fit: fill;
}

.section-hero .contents{
    padding-top: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-hero .title {
    font: normal normal bold 65px/79px Helvetica Neue;
    text-align: center;
    letter-spacing: 6.5px;
    color: #FFFFFF;
    opacity: 1;
}

.section-hero .description {
    width: 840px;
    margin-top: 32px;
    margin-bottom: 44px;
    text-align: center;
    font: normal normal normal 32px/44px Helvetica Neue;
    letter-spacing: 3.2px;
    color: #FFFFFF;
}

.section-hero .btn-group {
    padding-top: 200px;
}

.section-hero .btn-group input{
    width: 20px;
    height: 20px;
}

/* RED section */

.section-RED {
    height: 1080px;
    background-color: var(--RED);
}

.section-RED .contents {
    padding-top: 240px;
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    align-items: center;
}

.section-RED .contents .contents-left {
    padding-top: 100px;
    margin-right: 80px;
    width: 60%;
}

.section-RED .contents .title {
    font: normal normal bold 74px/90px Helvetica Neue;
    letter-spacing: 7.4px;
    text-align: left;
    color: white;
    margin-bottom: 28px;
}

.section-RED .contents .decription {
    text-align: left;
    font: normal normal normal 51px/61px Helvetica Neue;
    letter-spacing: 5.1px;
    color: #0B0B0B;
}

.section-RED .contents img {
    width: 650px;
    height: 650px;
    cursor: url('./cursorImages/cursor-click.png') 60 60, auto;
}

.section-RED .contents button:hover {
    cursor: pointer;
}

.section-RED .demoBtn {
    margin-top: 40px;
    width: 338px;
    height: 80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 79px;
    border: none;
    font: normal normal bold 23px/28px Helvetica Neue;
    letter-spacing: 2.3px;
    color: var(--RED);
}

.section-RED .demoBtn:hover {
    cursor: pointer;
}

/* YELLOW section */
.section-YELLOW {
    height: 1080px;
    background-color: var(--YELLOW);
    cursor: url('./cursorImages/cursor-reveal.png') 60 60, auto;
}

.section-YELLOW .contents {
    float: right;
    margin-top: 360px;
    width: 50%;
}

.section-YELLOW .contents .title{
    text-align: left;
    font: normal normal bold 74px/90px Helvetica Neue;
    letter-spacing: 7.4px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.section-YELLOW .contents .decription{
    text-align: left;
    font: normal normal normal 51px/61px Helvetica Neue;
    letter-spacing: 5.1px;
    color: #191919;
}

.section-YELLOW .demoBtn {
    margin-top: 40px;
    width: 338px;
    height: 80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 79px;
    border: none;
    font: normal normal bold 23px/28px Helvetica Neue;
    letter-spacing: 2.3px;
    color: var(--YELLOW);
}

.section-YELLOW .demoBtn:hover {
    cursor: pointer;
}

/* Perks section */

.section-perks {
    height: 1230px;
    background-color: #191919;
    color: white
}

.section-perks .contents{
    padding: 330px 8% 0 8%;
}

.section-perks .contents .title{
    font: normal normal bold 74px/90px Helvetica Neue;
    letter-spacing: 7.4px;
    color: #FFFFFF;
    margin-bottom: 84px;
}

.section-perks .perks-columns{
    display: flex;
    justify-content: space-between;
}

.section-perks .perks-columns .column{
    width: 26%;
}

.section-perks .perks-columns hr{
    border-width: 1px;
    width: 100px;
    margin: 0 0 28px 0;
}

.section-perks .perks-columns .column .column-title{
    font: normal normal bold 51px/62px Helvetica Neue;
    letter-spacing: 5.1px;
    width: 90%;
    margin-bottom: 28px;
}

.section-perks .perks-columns .column .column-description{
    font: normal normal normal 35px/41px Helvetica Neue;
    letter-spacing: 3.5px;
}

/* Reviews section */

.section-reviews {
    height: 1080px;
    background-color: var(--AQUA);
}

.section-reviews .contents {
    padding: 360px 60px 0 5%;
    display: flex;
}

.section-reviews .contents .reviews-container{
    padding-left: 50px;
}


.section-reviews .contents .title{
    text-align: left;
    font: normal normal bold 74px/90px Helvetica Neue;
    letter-spacing: 7.4px;
    color: #FFFFFF;
}

.section-reviews .contents .reviews-columns{
    display: flex;
    justify-content: space-between;
}

.section-reviews .contents .reviews-columns .stars{
    padding-top: 66px;
    font-size: 36px;
    letter-spacing: 4px;
}

.section-reviews .contents .reviews-columns .artist{
    margin-top: 26px;
    text-align: left;
    font: normal normal bold 35px/43px Helvetica Neue;
    letter-spacing: 3.5px;
    color: #FFFFFF;
}

.section-reviews .contents .reviews-columns .comment{
    margin-top: 24px;
    text-align: left;
    font: normal normal normal 35px/41px Helvetica Neue;
    letter-spacing: 3.5px;
    color: #191919;
}

/* GetNow section */

.section-GetNow {
    height: 814px;
    background-color: #191919;
}

.section-GetNow .contents{
    padding: 350px 8% 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-GetNow .contents .title{
    text-align: left;
    font: normal normal bold 74px/90px Helvetica Neue;
    letter-spacing: 7.4px;
    color: #D34848;
    padding-bottom: 20px;
}

.section-GetNow .contents .description{
    text-align: left;
    font: normal normal normal 51px/61px Helvetica Neue;
    letter-spacing: 5.1px;
    color: #FFFFFF;
}

/* Footer section */

.section-Footer {
    height: 538px;
    background-color: #5E33D1;
}

.section-Footer .email {
    font: normal normal normal 35px/41px Helvetica Neue;
    letter-spacing: 3.5px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 180px 0 100px 140px;
}

.section-Footer .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-Footer .bottom .companyName{
    font: normal normal normal 48px/57px Helvetica Neue;
    letter-spacing: 4.8px;
    color: #FFFFFF;
    padding-bottom: 46px;
}

.section-Footer .bottom .legal{
    font: normal normal normal 24px/29px Helvetica Neue;
    letter-spacing: 2.4px;
}

/* ======================= PRICING PAGE  ======================= */

.section-pricing {
    height: 1890px;
    background-color: #191919;
}

.section-pricing .contents {
    padding: 308px 8% 0 8%;
}

.section-pricing .contents .title {
    font: normal normal bold 74px/90px Helvetica Neue;
    letter-spacing: 7.4px;
    color: #FFFFFF;
    padding-bottom: 40px;
}

.section-pricing .contents .title-description {
    font: normal normal normal 51px/80px Helvetica Neue;
    letter-spacing: 5.1px;
    color: #FFFFFF;
    padding-bottom: 200px;
}

.section-pricing .contents .pricing-columns {
    display: flex;
    justify-content: space-between;
}

.section-pricing .contents .pricing-columns hr{
    border-width: 1px;
    width: 140px;
    margin: 20px 0 20px 0;
}

.section-pricing .contents .pricing-columns .column-title {
    font: normal normal bold 42px/51px Helvetica Neue;
    letter-spacing: 4.2px;
}

.section-pricing .contents .pricing-columns .column-price {
    font: normal normal bold 135px/165px Helvetica Neue;
    letter-spacing: 13.5px;
    padding-bottom: 40px;
}

.section-pricing .contents .pricing-columns .column-description{
    font: normal normal normal 47px/64px Helvetica Neue;
    letter-spacing: 4.7px;
    color: #FFFFFF;
    padding-bottom: 40px;
}

.section-pricing .contents .pricing-columns button{
    border-radius: 79px;
    border: none;
    width: 335px;
    height: 84px;
    font: normal normal bold 24px/29px Helvetica Neue;
    letter-spacing: 2.4px;
    color: #FFFFFF;
    cursor: pointer;
}

/* ======================= PAYMENT PAGE  ======================= */

.payment-section {
    height: 1950px;
}

.payment-section .contents {
    padding: 300px 8% 0 8%;
}

.payment-section .title{
    font: normal normal bold 74px/90px Helvetica Neue;
    letter-spacing: 7.4px;
    color: #000000;
    padding-bottom: 120px;
}

.payment-section .contents .radioGroup{
    display: flex;
    font: normal normal bold 37px/45px Helvetica Neue;
    letter-spacing: 3.7px;
}

.payment-section .contents .radioGroup .radio{
    padding-right: 80px;
}

.payment-section .contents .radioGroup .btn-check{
    height: 28px;
    width: 28px;

}

.payment-section .contents .formsSection {
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
}

.payment-section .formsSection .formColumn {
    width: 45%;
}

.payment-section .sectionName {
    font: normal normal normal 45px/71px Helvetica Neue;
    letter-spacing: 4.5px;
    color: #000000;
    padding-bottom: 50px;
}

.payment-section .selectPlan {
    padding-bottom: 150px;
}

.payment-section .contents .twoForms{
    display: flex;
    justify-content: space-between;
}

.payment-section .contents .formLabel {
    font: normal normal bold 22px/34px Helvetica Neue;
    letter-spacing: 2.2px;
    color: #000000;
}

.payment-section .contents .form {
    height: 60px;
}

.payment-section .confirm {
    letter-spacing: 2.2px;
    width: 650px;
}

.payment-section .confirm .blueText {
    color: #2F1FE9;
    font: normal normal bold 22px/34px Helvetica Neue;
}

/* Gradient CTA Button */

.ctaBtn .btnText {
    font: normal normal bold 23px/28px Helvetica Neue;
    letter-spacing: 2.3px
}

.ctaBtn .btnText-small {
    font: normal normal bold 18px/23px Helvetica Neue;
    letter-spacing: 1.8px;
}